/* TableStyles.css */
.my_table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px;
}

.my_table th,
.my_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.my_table th {
  background-color: #f2f2f2;
}
