/* Login.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://media.istockphoto.com/id/1414321089/photo/graduations-cap-with-money-coins-on-light-blue-background-money-savings-for-education.jpg?s=1024x1024&w=is&k=20&c=l3-od9NFtttPWyt0ka3d8qdXs_P05kaXZCvitF_eFNc=");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Prevents scrolling */
  background-position: center center;
  /* background-color: red; */
}

.login-card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.org-logo {
  width: 100px; /* Adjust the width as needed */
  margin-bottom: 10px;
}

.login-card h1 {
  margin: 0 0 20px;
  font-size: 24px;
}

.login-card button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-card button:hover {
  background-color: #357ae8;
}
