.stepperButtons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 0 3rem;
}

.scholarship-id {
  margin-top: 10px;
  text-align: center;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  margin-top: 2em;
}
