.styled_link {
  color: white; /* Set the text color to blue */
  text-decoration: none; /* Remove the default underline */
  font-weight: bold; /* Make the text bold */
  margin-right: 10px; /* Add some spacing to the right */
}

h2 {
  padding: 0px 20px;
}

.btn_style {
  padding: 0px 20px;
  display: flex;
  gap: 20px;
}

.submitted-heading {
  padding: 0px 20px;
}

.select-year {
  padding: 0 0 0 10px;
}

.tiles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 10px;
  place-items: center;
}

.select-year-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.year-picker {
  width: fit-content;
  padding: auto;
}
