.styled_link {
  color: white; /* Set the text color to blue */
  text-decoration: none; /* Remove the default underline */
  font-weight: bold; /* Make the text bold */
  margin-right: 10px; /* Add some spacing to the right */
}

h2 {
  padding: 0px 20px;
}

.btn_style {
  padding: 0px 20px;
  display: flex;
  gap: 20px;
}
